@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw !important;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.julius {
	font-family: 'Julius Sans One', sans-serif;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
span,
label {
	color: '#f2f3ef' !important;
}

.ant-radio-checked .ant-radio-inner {
	border-color: #d8a298 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
	background-color: #d8a298;
}

.tc {
	text-align: center !important;
}
